body{
    background: rgb(194, 178, 128);
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
    z-index: -2;
}

#polygon_path {
    background: #cae8d5;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 100%);
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 ;  
    
    
}

/* background: rgb(86, 125, 70) */
/* #main {
    background: rgb(194, 178, 128);
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;  
    z-index: -2;     
    position:relative; 
    
} */


#github{    
    position: absolute;
    bottom: 15%;
    right: 10%;
    font-size: 25px;
    height: 300px;
    width: 285px;
}

#umbrella {
    position: absolute;
    bottom: 20%;
    right: 25%;
    font-size: 25px;
    height: 300px;
    width: 285px;
}

#chair {
    position: absolute;
    bottom: 5%;
    right: 25%;
    font-size: 25px;
    height: 275px;
    width: 225px;
}



/* #talk-bubble {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    position: absolute;
    bottom: 40%;
    right: 20%;
    height: 100px;
    width: 150px;
    background: white;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;   
} */

#sun {
    position: absolute;
    top: 75px;
    left: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    z-index: -2;
    box-shadow:
    0 0 30px 15px #fff,
    0 0 50px 30px orangered,
    0 0 70px 45px yellow;
    pointer-events: none; 
}



#wrapper {
    text-align: center; 
    z-index: 1;
}

#intro {   
    /* text-align: center; */
    display: inline-block;
    position: relative;
    width: 600px;
    font-family: 'Vollkorn', serif;
    color: #204051;
}

#projects{
    display: hide;
    z-index: 1;
    position:relative;    
}

.project-card {
    width: 200px;
    height: 250px;
    border: black 1px solid;
    float: left;
    margin: 20px; 
    z-index: 50;   
}

.project-card:hover{
    width: 400px;
    height: 450px;
}

#bottom-left{
    background: rgb(2, 89, 114) ;    
    width: 100%;
    height: 125px;
    bottom: 0px;
    left: 0px;
    position: absolute;    
}


#nav-top{
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;  
}

#home-path, #project-path, #contact-path{
    float: left;
    margin: 10px;
    z-index: 1;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }


#cloud-wrapper {
bottom: 0;
left: 0;
padding-top: 50px;
position: fixed;
right: 0;
top: 0;
z-index: -1;
}

@keyframes animateCloud
{
    0%{margin-left: -1000px;}
    100%{margin-left: 100%;}
}

.x1 {
    animation: animateCloud 35s linear infinite;
    transform: scale(0.65);
}

.x2 {
    animation: animateCloud 20s linear infinite;
    transform: scale(0.3);
}

.x3 {
    animation: animateCloud 30s linear infinite;
    transform: scale(0.5);
}

.x4 {
    animation: animateCloud 18s linear infinite;
    transform: scale(0.4);
}

.x5 {
    animation: animateCloud 25s linear infinite;
    transform: scale(0.55);
}

.cloud{
    background: white;
    background: linear-gradient(top, white 5%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white", endColorstr="#f1f1f1", GradientType=0);
    border-radius: 100px;
    box-shadow: 0 8px 5px rgba(0,0,0,0.1);
    height: 120px;
    position: relative;
    width: 350px;
}

.cloud:after, .cloud:before {
    background: white;
    content: "";
    position: absolute;
    z-index: -1;
}

.cloud:after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}


.cloud:before {
    border-radius: 200px;
    height: 180px;
    width: 180px;
    right: 50px;
    top: -90px;   
}

#test{
    position: absolute;
   
}

